/maya/python/pipe/__pycache__

/maya/python/pipe/library/rigging/__pycache__
/maya/python/pipe/library/rigging/rig_type/__pycache__
/maya/python/pipe/library/rigging/rig_type/builders/__pycache__
/maya/python/pipe/library/utilities/__pycache__
/maya/python/pipe/library/utilities/validate/__pycache__
*.pyc
